*.iml
.gradle
/local.properties
/.idea
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build.gradle.kts
/gradle.properties
gradlew
gradlew.bat
settings.gradle.kts
.gitignore